
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
  font-family: 'Poppins';
  background: white;

}
button{
cursor: pointer;
}
/*Nav bari nalt per pc*/
.nav1{
width: 100%;
height: 2cm;
border-radius: 20px;
background: #f5f5f579;
display: flex;
align-items: center;
justify-content: center;
}

.nav1 button{
  float: right;
  margin-left: 20px;
  margin-right:auto;
  width: 4cm;
  height: 38px;
  font-family: 'Poppins';
  border-radius: 13px;
  border: thick;
  background: #FF4A4A;
  color: white;
}

.nav1 img{
  float: right;
  margin-left:auto;
  margin-right: 20px;
}

.nav1 input{
  width: 40%;
  height: 40px;
  font-family: 'Poppins';
  border: thick;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
  border: 1.2px solid #9B9B9B;
  background: transparent;
}
/*Nav bari nalt only fundi*/

/*Nav bari 234 nalt per pc*/

.flexn{
  display: flex;
  margin-top: 6px;
}

.flexn .nav2{
 border-radius: 20px;
width: 50%;
height: 1.6cm;
background: #f5f5f579;
margin-right: 5px;
color: rgb(115, 115, 115);
display: flex;
align-items: center;
justify-content: center;
}
.flexn .nav2 button{
  width:80px;
  border: thick;
  font-family: 'Poppins';
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
  background: transparent;
color: rgb(115, 115, 115);
  
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.nav2 button p{
  margin-top: -5px;
}

.nav2 button:hover{
  background: #5d5af727;
}

.flexn .nav3{
  border-radius: 20px;
 width: 25%;
 height: 1.6cm;
margin-right: 5px;
background: #f5f5f579;
;
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .flexn .nav3 button{
  width: 3.5cm;
color: rgb(115, 115, 115);
margin-left: 5px;
  margin-right: 5px;
  border: thick;
  font-family: 'Poppins';
  font-weight: 500;
  height: 40px;
  border-radius: 10px;
  background: rgba(177, 181, 182, 0.432);


 }

 .nav3 button i{
  margin-right: 10px;
 }
 .flexn .nav4{
  border-radius: 20px;
 width: 25%;
 height: 1.6cm;
 background: #f5f5f579;

 display: flex;
 justify-content: center;
 align-items: center;
 }
 .flexn .nav4 button{
color: rgb(115, 115, 115);
width: 3.5cm;
  margin-left: 5px;
  margin-right: 5px;
  border: thick;
  font-family: 'Poppins';
  font-weight: 500;
  height: 40px;
  border-radius: 10px;
  background: rgba(177, 181, 182, 0.432);

 }

 .nav3 button i{
  margin-right: 10px;
 }
 .qmimet{
  margin-top: 4cm;
  position: absolute;
  width: 6cm;
  z-index: 1;
  height: 2cm;
  background: #F5F5F5;
  font-family: 'pOPPINS';
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .qmimet input{
  width: 2cm;
  height: 30px;
  border: thick;
  border-radius: 9px;
  font-family: 'Poppins';
  padding-left: 10px;
 }

 .siperfaqja{
  margin-top: 4cm;
  position: absolute;
  width: 6cm;
  z-index: 1;
  height: 2cm;
  background: #F5F5F5;

  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .siperfaqja input{
  width: 2cm;
  height: 30px;
  border: thick;
  border-radius: 9px;
  font-family: 'Poppins';
  padding-left: 10px;
 }
/*Fundi nav bar nalt*/

/*Fillimi nav bar per tel*/
@media screen and (max-width:800px) {
  .flexn .nav2{
    padding-left: 250px;
    border-radius: 20px;
   width: 100%;
   height: 1.6cm;
   overflow: scroll;
   overflow-y: hidden;
   scroll-snap-type: both mandatory;
   }
   .nav1 input{
    position: absolute;
    margin-top: 7.5cm;
    width: 90%;
    height: 48px;
  }
  .flexn .nav3{
    display: none;
  
   }
   .flexn .nav4{
    display: none;
  
   }
}

/*Fundi nav bar per tel*/

 /*Fillimi i fotov*/
.banesa{
  width: 100%;
margin-top: 2cm;
margin-bottom: 100px;
justify-content: center;
align-items: center;
}
.glx{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: left;
}
.glx h1{
  font-family: 'Poppins';
}
.desc{
  display: grid;
  width: 10cm;
  height: auto;
  margin-left: 5px;
  text-align: left;
  border: thick;
  background: transparent;
}
.qmim{
  max-width: 4.5cm;
  width:3cm;
  border-radius: 20px;
  background-color: #FF4A4A;
  display: flex;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
}
.desd{
  max-width:9cm;
  width:auto;
  height: 4cm;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  background-color: #dedede71;
  display: inline-flex;
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  color: #656565;
  margin-left: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Poppins';
  justify-content: center;
}
.flexdesc{
  display: inline-flex;
}
.shitje{
  width: 2cm;
  justify-content: center;
  height: 20px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  background: #bff5a5;
  position: relative;
  top: 20px;
  left: 10px;
}
.qira{
  width: 2cm;
  justify-content: center;
  height: 20px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  background: #F2E9D3;
  font-family: 'POPPINS';
  position: relative;
  top: 20px;
  left: 10px;
}

.desc h1{
  margin-top: 19px;

  font-size: 20px;
}
.imgs{
  background: rgb(224, 218, 218);
  margin-bottom: -15px;
  width:auto;
  border-radius: 20px;
  height: 7cm;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('imgs/logo.png');
}
/*New show off*/



.showoff{
  width: 100%;
  position: absolute;
  left: 0;
  color: rgb(0, 0, 0);
  
}


.top{
  display: flex;
  align-items: center;
  justify-content: center;
}

.showoff .top button{
  margin-left: auto ;
  margin-right: 50px;
  width: 3cm;
  height: 40px;
  border: thick;
  font-family: 'poppins';
  background: #FF4A4A;
border-radius: 15px;
color: white;
}

.top .mobile{
  display: none;
}


.gallery{
  width: 100%;
}

  /* Slider container */
  .slider-container {
    max-width: 30cm;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  /* Slides */
  .slide {
    display: none;
    transition: opacity 0.5s;
  }
.imgsf{
  margin-top: 1cm;

  width: 100%;
  border-radius: 20px;
  height: 16cm;
  background-position: center;
  background-size: cover;
}
  /* Show first slide by default */
  .slide:first-child {
    display: block;
  }

  /* Navigation arrows */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    z-index: 1;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .centers{
    margin-top: 3cm;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .showoff .top h1{
    margin-left: auto;
  }
  
  .divider{
    width: 80%;
    height: 2px;
    border-radius: 20px;
    position: absolute;
  }

  .descp{
color: black;
    margin-top: -1cm;
    position: absolute;
    width: 100%;
    height: auto;
  }

  .descp .contact{
    margin-left: 20px;
    margin-top: 10px;
    width: 6cm;
color: black;
height: auto;
  }

  .contact button{
    width: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    height: 26px;
    background: #FF4A4A;
    color: white;
    font-family: 'Poppins';
    border: thick;
  }

  .persh{
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }
  .persh button{
    width: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    height: 26px;
    background: #F2E9D3;
    color: white;
    color: black;
    font-family: 'Poppins';
    border: thick;
  }

  .informata{
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }

  .informata button{
      width: auto;
      margin-bottom: 5px;
      height: 26px;
      background: #FF4A4A;

      color: white;
      color: black;
      font-family: 'Poppins';
      border: thick;
  
  }

  .maps{
    color: rgb(0, 0, 0);
    margin-left: 20px;
  }
  
  .maping{
    width: 80%;
    height: 6cm;
    background: white;
  }

  @media screen and (max-width:800px) {
    .descp{
    
        margin-top: -5cm;
        position: absolute;
        width: 100%;
        height: auto;
      }
    .top{
      text-align: center;
      display: grid;
      align-items: center;
      justify-content: center;
    }
    .desktop{
      display: none;
    }
    .top .mobile{
      margin-top: 20px;
      display: block;
  
    }
    .showoff .top button{
      margin: auto;
      margin-top: 10px;
    }
    .centers{
      margin-top: 7cm;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
    .maps h2{
      margin-left: 20px;
    }
    .maps{
      color: white;
      margin-left: 0px;
    }
    
    .maping{
      width: 100%;
      height: 10cm;
      margin-left: 0;
    }
  }

  footer {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 2.8cm;
    border: solid 2px #212B36;
    bottom: 0;
    border-radius: 20px;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
}

footer p {
    margin-top: 10px;
}

footer .btm {
    margin-top: 20px;
}

footer .btns2 {
    margin-bottom: 10px;
}

footer .socials {
    margin-top: 10px;
  
}

footer img {
    display: block;
    margin: 0 auto;
}

footer .btns2 button{
background: rgba(248, 179, 179, 0.185);
  width: 3cm;
  font-family: 'Poppins', sans-serif;
  border: thick;
  font-size: 15px;

}

.socials button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: thick;
  font-size: 20px;
  margin-left: 10px;
  border-top: thick;
}


.trajectory{
  padding-top: 20px;
  width: 100%;
  height: 40vh;
  display: flex;
}
.informatakontaktuse{
  width: 40%;
  height: 80vh;
  background: #F5F5F5;
  font-family: 'Poppins';
  border-radius: 30px;
}
.forma{
  padding-left: 30px;
  width: 60%;
  height: 80vh;
}

.remo{
  display: grid;
  align-items: center;
  justify-content: center;
}
.remo button{
  text-align: left;
  font-family: 'Poppins';
  background: transparent;
  font-size: 15px;
  border: thick;
}
.remo i{
  margin-left: -20px;
  margin-right: 10px;
}
.remo p {
  margin-bottom:1px;
}

.remo .socials {
  position: relative;
  top: 3cm;
}
.inputs{
  width: 80%;
  height: 10cm;
  display: grid;
  color: white;
}
.inputs form{
  width: 90%;
  height: 10cm;
  display: grid;
  color: white;
}
.inputs button{
height: 40px;
position: relative;
top: 1cm;
font-family: 'Poppins';
background: #000000;
border: thick;
color: white;
border-radius: 10px;
}
.inputs input{
  border: solid 2px #212B36;
  margin-bottom: 5px;
  height: 40px;
  background: transparent;
  color: white;
  border-radius: 15px;
  font-family: 'Poppins';
  padding-left: 20px;
}
.inputs textarea{
  border: solid 2px #212B36;
  margin-bottom: 5px;
  color: white;
  padding-top: 20px;
  background: transparent;
  border-radius: 15px;
  font-family: 'Poppins';
  padding-left: 20px;
  resize: none;
}
@media  screen  and (max-width:800px){
  .trajectory{
    width: 100%;
    height: 40vh;
    display: grid;
  }
  .informatakontaktuse{
    width: 100%;
    height: 90vh;
    background: #F5F5F5;
    font-family: 'Poppins';
    border-radius: 30px;
  }
  .forma{
    width: 100%;
    height: 80vh;
  }
  .inputs form{
    width: 100%;
    height: 10cm;
    display: grid;
    color: white;
  }
}


.ftr {
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  position: relative;
  top: 10cm;
  border: solid 2px #212B36;
  bottom: 0;
  border-radius: 20px;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.ftr p {
  margin-top: 10px;
}

.ftr .btm {
  margin-top: 20px;
}

.ftr .btns2 {
  margin-bottom: 10px;
}

.ftr .socials {
  margin-top: 10px;

}

.ftr img {
  display: block;
  margin: 0 auto;
}

.ftr .btns2 button{
background: rgba(248, 179, 179, 0.185);
width: 3cm;
font-family: 'Poppins', sans-serif;
border: thick;
font-size: 15px;

}


@media screen and (max-width:800px) {
  .ftr {
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 25cm;
    border: solid 2px #212B36;
    bottom: 0;
    border-radius: 20px;
    left: 0;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  
}

.reth{
  margin-top: 2cm;
  width: 100%;
  height: auto;
  display:grid;

}

.imgs3{
  width: 80%;
  height: 7cm;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.imag1{
  width: 7cm;
  height: 7cm;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background: yellow;
  }
@media screen and (max-width:800px) {
  .imgs3{
    width: 80%;
    height: 7cm;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .imag1{
    width: 8cm;
    height: 7cm;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background: yellow;
    margin-top: 20px;
    }
}
